* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.card-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
  padding: 2rem;
}

.card {
  background-color: yellowgreen;
  border: 2px solid #0f3460;
  border-radius: 12px;
  padding: 2rem;
  flex: 1; /* faz com que o item ocupe todo o espaço disponível */
}

.card-wide {
    flex: 2; /* faz com que o item ocupe o dobro do espaço disponível */
}